!/data/.gitkeep
.ipynb_checkpoints/
edda.ipynb

__pycache__/
raw/

models/baseline_*
logs/baseline_f2642b8cc93a/
models/   

main2.py
registro_fase_4_finetuning.json
pruebas.ipynb
predictor.py


